@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    height: 100vh;
}

.background {
    background-image: url(/assets/images/background-white.png);
}

.min-vh-100 {
    min-height: 100vh;
    width: 100%;

}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

}

.sign-in-style {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 135%;
    letter-spacing: 0%;
    color: #030712;
    padding-top: 48px;
}

.register {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 10px;

}

label[for="email"] {

    height: 44px;
}

.email-form {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 44px;
    padding-right: 16px;
    border: 1px solid #E4EAF7;
    border-radius: 4px;
    background: #F5F8FF;
    width: 360px;
    max-height: 44px;
}

.password-form {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 44px;
    padding-right: 44px;
    border: 1px solid #E4EAF7;
    border-radius: 4px;
    background: #F5F8FF;
    width: 360px;
}

.icon-absolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 18px;
}

form {
    padding-top: 32px;
}

::placeholder {
    color: #9197A6;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.ml-5 {
    margin-left: 5px;
}

.description {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #62656D;
    margin-top: 12px;
}

.card {
    max-width: 340.5px;

}
.button:hover {
    background-color: linear-gradient(83.67deg, #57aeff 10.02%, #427eff 90.05%);
    transition: all 50ms linear;
    box-shadow: 0px 13px 19px 0px #00000012;
}



.button-style {
    width: 100%;
    height: 48px;
    border-radius: 50px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    color: #FFFFFF;
    border: none;
    margin-top: 24px;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 10px 0px #0000001A;
}

.justify-content {
    justify-content: center;
}

.line {
    width: 105px;
    border: 1px solid #C9CFDB;
    height: 1px;

}

.items-center {
    align-items: center;
}

.justify-content {
    justify-content: space-between;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.eye-absolute {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 16px;

}

.platform {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #62656D;
    margin-left: 10px;
}

.platform:hover {
    box-shadow: 0px 13px 19px 0px #00000012;
    transition: all 50ms linear;
    color: black;
}

.size {
    width: 166px;
    height: 41px;
    border-width: 1px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 16px;
    border: 1px solid #E4EAF7;
}

.ml-8 {
    margin-left: 8px;
}

.mt-20 {
    margin-top: 20px;
}

.forget-password {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    color: #62656D;
    cursor: pointer;
}

.remember {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #62656D;
}

.width-100 {
    width: 100%;
}

.pt-89 {
    padding-top: 89px;
}

.box {
    width: 499.29px;
    height: 499.29px;
    border: 2px solid black;
}

.max-vh-810 {
    max-height: 810vh;
}

.continue-style {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    color: #9197A6;


}

.line {
    color: #C9CFDB;
    height: 1px;
    width: 111px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.blue-circle {
    width: 499.29px;
    height: 499.29px;
    border-radius: 100%;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle-absolute {
    position: absolute;
    /* top:50%;
    left:50%; 
    transform: translate(-50%,-50%);  */
}

.justify-center {
    justify-content: center;
}

.icon-box {
    width: 64px;
    height: 64px;
    border-radius: 42px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.facebook-icon {
    top: -22px;
    left: 0;
}

.linkedin-icon {
    top: 80px;
    left: 0;
}

.insta-icon {
    bottom: 80px;
    left: 0;
}

.twitter-icon {
    bottom: -22px;
    left: 0;
}